= link_to 'Add Show', add_path <p>
%table#calendars{:border => 1}
  %thead
    %tr
      %th
      %th Sunday
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
    %tr
      %td 12:00
      %td#t1200_1 
      %td#t1200_2
      %td#t1200_3
      %td#t1200_4
      %td#t1200_5
      %td#t1200_6
      %td#t1200_7
    %tr
      %td 12:30
      %td#t1230_1 
      %td#t1230_2
      %td#t1230_3
      %td#t1230_4
      %td#t1230_5
      %td#t1230_6
      %td#t1230_7
    %tr
      %td 1:00
      %td#t1300_1 
      %td#t1300_2
      %td#t1300_3
      %td#t1300_4
      %td#t1300_5
      %td#t1300_6
      %td#t1300_7
    %tr
      %td 1:30
      %td#t1330_1 
      %td#t1330_2
      %td#t1330_3
      %td#t1330_4
      %td#t1330_5
      %td#t1330_6
      %td#t1330_7
    %tr
      %td 2:00
      %td#t1400_1 
      %td#t1400_2
      %td#t1400_3
      %td#t1400_4
      %td#t1400_5
      %td#t1400_6
      %td#t1400_7
    %tr
      %td 2:30
      %td#t1430_1 
      %td#t1430_2
      %td#t1430_3
      %td#t1430_4
      %td#t1430_5
      %td#t1430_6
      %td#t1430_7
    %tr
      %td 3:00
      %td#t1500_1 
      %td#t1500_2
      %td#t1500_3
      %td#t1500_4
      %td#t1500_5
      %td#t1500_6
      %td#t1500_7 
    %tr
      %td 3:30
      %td#t1530_1 
      %td#t1530_2
      %td#t1530_3
      %td#t1530_4
      %td#t1530_5
      %td#t1530_6
      %td#t1530_7
    %tr
      %td 4:00
      %td#t1600_1 
      %td#t1600_2
      %td#t1600_3
      %td#t1600_4
      %td#t1600_5
      %td#t1600_6
      %td#t1600_7 
    %tr
      %td 4:30
      %td#t1630_1 
      %td#t1630_2
      %td#t1630_3
      %td#t1630_4
      %td#t1630_5
      %td#t1630_6
      %td#t1630_7
    %tr
      %td 5:00
      %td#t1700_1 
      %td#t1700_2
      %td#t1700_3
      %td#t1700_4
      %td#t1700_5
      %td#t1700_6
      %td#t1700_7
    %tr
      %td 5:30
      %td#t1730_1 
      %td#t1730_2
      %td#t1730_3
      %td#t1730_4
      %td#t1730_5
      %td#t1730_6
      %td#t1730_7
    %tr
      %td 6:00
      %td#t1800_1 
      %td#t1800_2
      %td#t1800_3
      %td#t1800_4
      %td#t1800_5
      %td#t1800_6
      %td#t1800_7
    %tr
      %td 6:30
      %td#t1830_1 
      %td#t1830_2
      %td#t1830_3
      %td#t1830_4
      %td#t1830_5
      %td#t1830_6
      %td#t1830_7
    %tr
      %td 7:00
      %td#t1900_1 
      %td#t1900_2
      %td#t1900_3
      %td#t1900_4
      %td#t1900_5
      %td#t1900_6
      %td#t1900_7
    %tr
      %td 7:30
      %td#t1930_1 
      %td#t1930_2
      %td#t1930_3
      %td#t1930_4
      %td#t1930_5
      %td#t1930_6
      %td#t1930_7
    %tr
      %td 8:00
      %td#t2000_1 
      %td#t2000_2 
      %td#t2000_3
      %td#t2000_4 
      %td#t2000_5
      %td#t2000_6
      %td#t2000_7
    %tr
      %td 8:30
      %td#t2030_1
      %td#t2030_2 
      %td#t2030_3
      %td#t2030_4 
      %td#t2030_5
      %td#t2030_6
      %td#t2030_7
    %tr
      %td 9:00
      %td#t2100_1 
      %td#t2100_2
      %td#t2100_3
      %td#t2100_4
      %td#t2100_5 
      %td#t2100_6
      %td#t2100_7
    %tr
      %td 9:30
      %td#t2130_1
      %td#t2130_2
      %td#t2130_3
      %td#t2130_4
      %td#t2130_5 
      %td#t2130_6
      %td#t2130_7
    %tr
      %td 10:00
      %td#t2200_1 
      %td#t2200_2
      %td#t2200_3
      %td#t2200_4
      %td#t2200_5
      %td#t2200_6 
      %td#t2200_7
    %tr
      %td 10:30
      %td#t2230_1
      %td#t2230_2
      %td#t2230_3
      %td#t2230_4
      %td#t2230_5
      %td#t2230_6 
      %td#t2230_7
    %tr
      %td 11:00
      %td#t2300_1 
      %td#t2300_2
      %td#t2300_3
      %td#t2300_4
      %td#t2300_5
      %td#t2300_6
      %td#t2300_7 
    %tr
      %td 11:30
      %td#t2330_1
      %td#t2330_2
      %td#t2330_3
      %td#t2330_4
      %td#t2330_5
      %td#t2330_6
      %td#t2330_7 
