%h1 Calendars
%table#calendars{:border => 1}
  %thead
    %tr 
      %th
      %th Sunday
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
    %tr
      %td 12:30
      %td Movie
    %tr
      %td 1:00
    %tr
      %td 1:30
    %tr
      %td 2:00  
