%h1 Calendars
%table#calendars{:border => 1}
  %thead
    %tr
      %th
      %th Sunday
      %th Monday
      %th Tuesday
      %th Wednesday
      %th Thursday
      %th Friday
      %th Saturday
    %tr
      %td 12:00
      %td#t1200_1 Movie
      %td#t1200_2
      %td#t1200_3
      %td#t1200_4
      %td#t1200_5
      %td#t1200_6
      %td#t1200_7
    %tr
      %td 1:00
      %td#t1300_1 Movie
      %td#t1300_2
      %td#t1300_3
      %td#t1300_4
      %td#t1300_5
      %td#t1300_6
      %td#t1300_7
    %tr
      %td 2:00
      %td#t1400_1 Movie
      %td#t1400_2
      %td#t1400_3
      %td#t1400_4
      %td#t1400_5
      %td#t1400_6
      %td#t1400_7
    %tr
      %td 3:00
      %td#t1500_1 Movie
      %td#t1500_2
      %td#t1500_3
      %td#t1500_4
      %td#t1500_5
      %td#t1500_6
      %td#t1500_7 
    %tr
      %td 4:00
      %td#t1600_1 Movie
      %td#t1600_2
      %td#t1600_3
      %td#t1600_4
      %td#t1600_5
      %td#t1600_6
      %td#t1600_7 
    %tr
      %td 5:00
      %td#t1700_1 Movie
      %td#t1700_2
      %td#t1700_3
      %td#t1700_4
      %td#t1700_5
      %td#t1700_6
      %td#t1700_7
    %tr
      %td 6:00
      %td#t1800_1 Movie
      %td#t1800_2
      %td#t1800_3
      %td#t1800_4
      %td#t1800_5
      %td#t1800_6
      %td#t1800_7
    %tr
      %td 7:00
      %td#t1900_1 Movie
      %td#t1900_2
      %td#t1900_3
      %td#t1900_4
      %td#t1900_5
      %td#t1900_6
      %td#t1900_7
    %tr
      %td 8:00
      %td#t2000_1 
      %td#t2000_2 Show
      %td#t2000_3
      %td#t2000_4 Movie
      %td#t2000_5
      %td#t2000_6
      %td#t2000_7
    %tr
      %td 9:00
      %td#t2100_1 
      %td#t2100_2
      %td#t2100_3
      %td#t2100_4
      %td#t2100_5 Show
      %td#t2100_6
      %td#t2100_7
    %tr
      %td 10:00
      %td#t2200_1 Movie
      %td#t2200_2
      %td#t2200_3
      %td#t2200_4
      %td#t2200_5
      %td#t2200_6 Show
      %td#t2200_7
    %tr
      %td 11:00
      %td#t2300_1 
      %td#t2300_2
      %td#t2300_3
      %td#t2300_4
      %td#t2300_5
      %td#t2300_6
      %td#t2300_7 Show
